.page1 {
  display: "block";
  flex-direction: "column";
  background-color: var(--background-color);
}
main {
  display: flex;
  background-color: var(--background-color);
  flex-direction: column;
  min-height: 290vh;
  border-bottom: solid 1px var(--subtext-color);

  
}
footer {
  bottom: 0;
  height: 100px;
  background-color: aliceblue;
}
