.f1 {
  height: 250px;
  margin-top: 60px;
  display: flex;
}
.f2 {
  height: 130px;
  width: 300px;
  padding: 14px;
  border: solid 1px rgb(78, 9, 141);
  margin: 20px;
}
p {
  padding: 10px;
}

@keyframes movefeatures {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
